html{
    background-color: #FFFFFF; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

*{
    box-sizing: inherit;
}

body{
    font-family: "Noto sans", sans-serif;
    font-weight: 550;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #19396D;
    width: 1280px;
    height: 59px;
}

.nav{
    background-color: #354567;
    width: 1280px;
    height: 48px;
}

.contain{
    width: 1280px;
    margin: 0 auto;
}

.area_est,.area_book,.area_video{
    display: flex;
    align-items: flex-start;
}

.area_est{
    width: 1280px;
    height: 374px;
}

.word_est{
    width: 537px;
    height: 225px;
    margin-top: 74px;
    margin-left: 180px;
}

.tit_est,.tit_video{
    width: 155px;
    height: 45px;
    font-size: 20px;
    color: white;
    background-color: #47587D;
    border-radius: 2px;
    padding: 10px 37px;
    margin: 0;
}

.img_est{
    max-width:323px;
    max-height: 337px;
    margin-top: 17px;
    margin-left: 96px;
}

.intro_est{
    width: 537px;
    height: 153px;
    margin-top: 28px;
    margin-bottom: 0;
}

.area_book{
    width: 1280px;
    height: 374px;
    background-color: #47587D;
}

.word_book{
    width: 537px;
    height: 183px;
    margin-top: 95px;
    margin-left: 178px;
}

.tit_book{
    width: 155px;
    height: 45px;
    font-size: 20px;
    color: #47587D;
    background-color: white;
    border-radius: 2px;
    padding: 10px 37px;
    margin: 0;
}

.intro_book{
    width: 537px;
    height: 110px;
    color: white;
    margin-top: 32px;
    margin-bottom: 0;
}

.img_book{
    width: 248px;
    height: 291px;
    margin: 41px 146px 42px 169px;
}

.area_video{
    width: 1042px;
    height: 268px;
    margin-top: 68px;
    margin-left: 132px;
    margin-right: 133px;
}

.video{
    width: 478px;
    height: 268px;
}

.word_video{
    width: 451px;
    height: 117px;
    margin-top: 74px;
    margin-left: 113px;
}

.intro_video{
    width: 451px;
    height: 44px;
    margin-top: 28px;
    margin-bottom: 0;
}