html{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 17px;
}
h4{
    font-size: 15px;;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}
p{
    font-size: 10px;;
}
/*header*/
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #19396D;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 59px;
    box-shadow: 0px 1px 3px 0px #0000004D, 0px 4px 8px 3px #00000026;
}
.nav-header h2{
    color: white;
    font-weight: 700;
}
.header-r{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
}
.search-box{
    position: relative;
    width: 170px;
    height: 25px;;
}
.search-input{
    font-size: 15px;
    color: black;
    background-color:  white;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-right: 22px;
    border: 0;
    border-radius: 2px;
}
.search-icon{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.btn-lan{
    weight: 25px;
    height: 25px;
    background-color: white;
    border: 0;
    color: black;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 3px;
    cursor: pointer;
    border-radius: 2px;
}
.nav-content{
    width: 100%;
    height: 48px;
    background-color: #354567;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 115px;
    padding-left: 115px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.btn-catalog {
    color: #FFFFFF;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}
.a-catalog{
    color: #FFFFFF;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    padding: 0px;
    cursor: pointer;
    text-decoration: none;
}
.btn-catalog:hover {
    background-color: #505f75; 
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; 
    position: absolute;
    background-color: #354567;
    border-radius: 5px;
    top: 40px; 
    left: 0;
    width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
li > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}
li > a:hover {
    background-color: #505f75;
}
li:hover > ul {
    display: block;
}
li {
    position: relative;
    list-style-type: none;
}
li > a {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    display: block;
}
li > a:hover {
    background-color: #505f75;
}
/*list*/
.list-bg{
    margin-top: 107px;
    width: 100%;
    height: 374px;
    text-align: center;
    background-color: #19396D;
    padding-top: 40px;
    z-index: 1;
    margin-bottom: 330px;
}
.list-h{
    color: white;
    font-size: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.ag-theme-alpine{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    height: 540px;
    z-index: 2;
}
/*chart*/
.chart-h{
    color: #19396d;
    text-align: center;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
}
.chart-p{
    color: #ff0202;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 58px;
}
.chart{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    height: 480px;
    margin-bottom: 70px;
}
.chart-l{
    padding-right: 42.5px;
    width: 50%;
}
.chart-r{
    padding-left: 42.5px;
    width: 50%;
}
.chart-lh, .chart-rh{
    margin-top: 0px;
    color: #19396D;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
}
.chart-lp, .chart-rp{
    color: #000000;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 27px;
}
/*footer*/
.footer{
    width: 100%;
    height: 294px;
    background-color: #d9d9d9;
    padding-top: 43px;
    padding-left: 92px;
    padding-right: 92px;
    position: relative;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.left h6, .middle1 h6, .middle2 h6, .right h6{
    margin-top: 0px;
    margin-bottom: 10px;
}
.middle1 h6, .middle2 h6, .right h6, .instagram, .facebook, .youtube{
    cursor: pointer;
}
.left h2{
    font-weight: 700;
    margin-top: 0px;
    color: #19396d;
    margin-bottom: 18px;
}
.middle1 h3, .middle2 h3, .right h3{
    margin-top: 0px;
    color: #19396d;
    margin-bottom: 18px;
}
.footer-hr{
    width: 90%;
    position: absolute;
    margin: 0;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);
}
.footer-p{
    position: absolute;
    right: 92px;
    margin: 0;
    bottom: 17px;
    text-align: end;
}
.footer-a{
    text-decoration: none;
    color: black;
}
