html{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 17px;
}
h4{
    font-size: 15px;;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}
p{
    font-size: 10px;;
}
/*header*/
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #19396D;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 59px;
    box-shadow: 0px 1px 3px 0px #0000004D, 0px 4px 8px 3px #00000026;
}
.nav-header h2{
    color: white;
    font-weight: 700;
}
.header-r{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
}
.search-box{
    position: relative;
    width: 170px;
    height: 25px;;
}
.search-input{
    font-size: 15px;
    color: black;
    background-color:  white;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 3px;
    padding-right: 22px;
    border: 0;
    border-radius: 2px;
}
.search-icon{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.btn-lan{
    weight: 25px;
    height: 25px;
    background-color: white;
    border: 0;
    color: black;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 3px;
    cursor: pointer;
    border-radius: 2px;
}
.nav-content{
    width: 100%;
    height: 48px;
    background-color: #354567;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 115px;
    padding-left: 115px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.btn-catalog{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 15px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor: pointer;
}
/*bigpic*/
.bigpic{
    width: 100%;
    position: relative;
    margin-top: 107px;

    overflow: hidden;
}
.homeless{
    width: 100%;
}
.bigpic-l{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    left: 30px;
    top: 30px;
    opacity: 0; 
    transform: translateX(-100%); 
    transition: opacity 0.5s ease, transform 0.8s ease; 
}
.bigpic-r{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    right: 30px;
    bottom: 30px;
    opacity: 0; 
    transform: translateX(+100%); 
    transition: opacity 0.5s ease, transform 0.8s ease; 
}
.bigpic-l.show, .bigpic-r.show {
    opacity: 1; 
    transform: translateX(0); 
}
.bigpic-c{
    display:inline;
    background: #FFFFFFB2;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    color: black;
}
/*purpose*/
.purpose {
    opacity: 0; 
    transition: opacity 0.8s ease; 
}
.purpose.show {
    opacity: 1; 
}
.purpose-h{
    color: #19396D;
    margin-top: 43px;
    margin-bottom: 34px;
    text-align: center;
    font-weight: 700;
}
.purpose-c{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.season-img, .season-c, .give {
    opacity: 0; 
    transition: opacity 0.8s ease; 
}
.season-img.show, .season-c.show, .give.show{
    opacity: 1;
}
.giver,  .taker{
    position: relative;
    width: 285px;
    height: 268px;
    background-color: #A3A5A6;
    border-radius: 2px;
}
.giver{
    margin-right: 200px;
}
.giver-h, .taker-h{
    position: absolute;
    top: -20px;
    left: -40px;
    background-color: #47587D;
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0;
    border-radius: 2px;
    color: white;
    box-shadow: 0px 1px 3px 0px #0000004D, 0px 4px 8px 3px #00000026;
}
.lefthand{
    position: absolute;
    left: 0px;
    top: 22.39px;
}
.righthand{
    position: absolute;
    right: 0px;
    top: 27.39px;
}
.giver-c, .taker-c{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.2px;
    background-color: #47587D;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    bottom: -33px;
    right: -40px;
    box-shadow: 0px 1px 3px 0px #0000004D, 0px 4px 8px 3px #00000026;
    border-radius: 2px;
    color: white;
}
.giver-c h4, .taker-c h4{
    margin: 0;
}
/*do*/
.dohow{
   position: relative;
    background-color: #19396D;
    width: 100%;
    margin-top: 83px;
    border-radius: 30px 30px 0px 0px;
}
.season-img{
    position: relative;
    margin-bottom: 34px;
}
.spring-img, .summer-img, .autumn-img, .winter-img{
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}
.spring-img, .summer-img, .autumn-img{
    display: none;
}
.winter-img{
    display: block;
}
.do-h{
    position: absolute;
    top: 99px;
    left: 50%;
    transform: translateX(-50%); 
    color: white;
    text-align: center;
    font-weight: 700;
    z-index: 5;
    margin: 0;
}
.season{
    position: absolute;
    top: 148px;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    border-radius: 2px 2px 0px 0px;
    z-index: 5;
}
.btn-season{
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 7px;
    padding-bottom: 5px;
    color: #19396D;
    border-right: 1px solid #19396d;
    background-color: white;
    cursor: pointer;
    border-radius: 2px 2px 0px 0px;
}
.btn-season:last-child {
    border-right: none;
}
.btn-season:hover, .btn-season.active {
    background: #47587D80;
    color: white;
}
.spring-c, .summer-c, .winter-c{
    display: none;
}
.spring-c h1, .summer-c h1, .autumn-c h1, .winter-c h1{
    position: absolute;
    top: 187px;
    left: 50%;
    transform: translateX(-50%); 
    color: #d6ff07;
    font-size: 100px;
    font-weight: 900;
    z-index: 5;
    margin: 0;
}
.spring-month, .summer-month, .autumn-month, .winter-month{
    font-size: 35px;
}
.spring-c h2, .summer-c h2, .autumn-c h2, .winter-c h2{
    margin: 0;
    position: absolute;
    top: 303px;
    left: 50%;
    transform: translateX(-50%); 
    color: #d6ff07;
    font-weight: 700;
    z-index: 5;
}
.give{
    position: relative;
    width: 100%;
    height: 306px;
}
.spring, .summer, .autumn, .winter{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    top:34px;
    gap: 25px;
}
.cardA, .cardB, .cardC, .cardD, .cardE{
    width: 191px;
    height: 256px;
    position: relative;
}
.card-imgA, .card-imgB, .card-imgC, .card-imgD, .card-imgE{
    position: absolute;
    width: 100%;
    height: 167px;
    top: 0px;
    left: 0px;
    background: linear-gradient(180deg, #FFFFFF 0%, #B4B4B4 80.27%);
    box-shadow: 0px 1px 3px 0px #0000004D, 0px 4px 8px 3px #00000026;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 2px 0px 0px;
}
.card-cA, .card-cB, .card-cC, .card-cD, .card-cE{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 89px;
    background-color: #47578D;
    color: white;
    padding-top: 11px;
    padding-left: 16px;
    padding-right: 16px;
}
.cardcA p, .cardcB p, .cardcC p, .cardcD p,.cardcE p{
    margin: 0;
}
.card-cA h4, .card-cB h4, .card-cC h4, .card-cD h4, .card-cE h4{
    margin-top: 7px;
    margin-bottom: 0px;
}
/*how*/
.how-h{
    color: white;
    text-align: center;
    font-weight: 700;
    margin-bottom: 33px;
}
.carousel {
    width: 100%;
    height: 356px;
    background: linear-gradient(180deg, #FFFFFF 0%, #DDDDDD 100%);
    display: flex;
    margin-bottom: 68px;

    opacity: 0; 
    transition: opacity 0.8s ease; 
}
.carousel.show {
    opacity: 1; 
}
.carousel-left{
    width: 50%;
    height: 356px;
    position: relative;
}
.carousel-img{
    display: flex;
    transition: transform 0.5s ease; 
    width: 100%;
    height:100%;
}
.carousel-img > div {
    width: 100%;
    display: none; /* 初始隱藏所有幻燈片 */
}
.carousel-img > div.active {
    display: block; /* 只有當前幻燈片顯示 */
}
.carousel-img img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持比例并填满容器 */
}
.control-prev, .control-next {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    color: #47578D;
    display: flex;
    justify-content: center;
    line-height: 26px;
    font-size: 30px;
}
.control-prev {
    left: 31px;
}
.control-next {
    right: 31px;
}
.indicators-c{
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 8px;
}
.indicator{
    width: 20px;
    height: 3px;
    background-color: white;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}
.indicator.active {
    opacity: 1;
  }
.carousel-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 90px;
    padding-right: 90px;
}
.card-c1 h2{
    margin-top: 0px;
    margin-bottom: 25px
}
.card-c1 hr{
    margin-top: 0px;
    margin-bottom: 28px;
}
.card-c1 h4{
    margin: 0;
}
.card-c1 {
    display: none; /* 默认隐藏所有文本 */
}
.card-c1.active {
    display: block; /* 只显示当前的文本 */
}
/*footer*/
.footer{
    width: 100%;
    height: 294px;
    background-color: #d9d9d9;
    padding-top: 43px;
    padding-left: 92px;
    padding-right: 92px;
    position: relative;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.left h6, .middle1 h6, .middle2 h6, .right h6{
    margin-top: 0px;
    margin-bottom: 10px;
}
.middle1 h6, .middle2 h6, .right h6, .instagram, .facebook, .youtube{
    cursor: pointer;
}
.left h2{
    font-weight: 700;
    margin-top: 0px;
    color: #19396d;
    margin-bottom: 18px;
}
.middle1 h3, .middle2 h3, .right h3{
    margin-top: 0px;
    color: #19396d;
    margin-bottom: 18px;
}
.footer-hr{
    width: 90%;
    position: absolute;
    margin: 0;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);
}
.footer-p{
    position: absolute;
    right: 92px;
    margin: 0;
    bottom: 17px;
    text-align: end;
}



