html{
    background-color: #FFFFFF; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Noto sans", sans-serif;
    font-weight: 550;
    margin: 0;
    padding: 0;
    cursor: default;
    height: 100%;
}

li{
    line-height: 16px;
    list-style-type: disc;
    list-style-position: outside;
    display: list-item;
}

li:hover, i:hover, i a:hover{
    cursor: pointer;
}

i{
    font-size: 30px;
    position: absolute;
    right: 40px;
    bottom: 20px;
    z-index: 100;
}

i a{
    font-family: "Noto sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 5px;
}

.area_main2 > i > a {
    color: white;
}

.contain{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media screen and (min-width: 1220px){
    .main_contain{
        width: 1178px;
        /* min-height: 1958px; */
        min-height: 2094px;
        margin: 120px auto 93px auto;
        color: #354567;
        position: relative;
    }

    .area_main{
        width: 1178px;
        min-height: 1905px;
        /* min-height: 2016px; */
        /* display: inline-block; */
        background-color: #B9C1D2;
        border-radius:0 20px 20px 20px;
        align-items: flex-start;
        flex-direction: row;
        position: relative;
    }
    
    .area_main2{
        width: 1178px;
        height: 2041px;
        background-color: #354567;
        color: #FFFFFF;
        border-radius:0 20px 20px 20px;
        margin-bottom: 93px;
        align-items: flex-start;
        flex-direction: row;
    }
    
    .area_main, .area_main2 {
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease;
        position: absolute; /* 絕對定位，疊加在同一位置上 */
        top: 53px;
        left: 0;
        width: 100%;
    }

    .area_left{
        width: 120px;
        min-height: 112px;
        font-size: 16px;
        padding-left: 24px;
        margin: 0;
        position: relative;
        top: 60px;
        transform: translateX(51px);
        margin-right: 51px;
    }
    
    .area_left2{
        width: 184px;
        height: 112px;
        font-size: 16px;
        padding-left: 24px;
        margin: 0;
        position: relative;
        top: 60px;
        transform: translateX(19px);
        margin-right: 19px;
    }
    
    .left{
        vertical-align: middle;
        position: relative;
    }
    
    .left_line{
        width: 0%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .3s linear;
    }
    
    .left_line_blue{
        background-color: #354567;
    }
    
    .left_line_white{
        background-color: white;
    }
    
    .left:hover .left_line{
        width: 100%;
    }
    
    .left_word{
        margin-bottom: 16px;  
    }
    
    .line{
        width: 1px;
        height: 1801px;
        background-color: #354567;
        border: none;
        margin: 59px 0 61px 51px;
    }
    
    .line2{
        width: 1px;
        height: 1922px;
        background-color: #FFFFFF;
        border: none;
        margin: 59px 0 61px 19px;
    }
    
    .area_intro{
        width: 697px;
        height: 1785px;
        position: relative;
        top: 60px;
        left: 136px;
    }

    .intro_img{
        width: 485px;
        height: 298px;
        display: block;
        margin: 24px auto 0 auto;
    }

    .intro1{
        width: 697px;
        height: 438px;
    }
    
    .intro2{
        width: 697px;
        /* height: 423px; */
        display: inline-block;
        margin-top: 32px;
    }

    .intro_word1{
        width: 697px;
        font-size: 16px;
        margin: 0;
        display: inline-block;
    }
    
    .intro_word2{
        width: 697px;
        font-size: 16px;
        margin: 0;
        display: inline-block;
    }

    .intro_hl1{
    width: 697px;
    height: 446px;
    }

    .intro_hl2{
        width: 697px;
        height: 427px;
        margin-top: 50px;
    }

    .intro_hl3{
        width: 697px;
        height: 449px;
        margin-top: 50px;
    }
    
    .intro_hl_word1{
        width: 697px;
        height: 85px;
        font-size: 16px;
        margin-top: 13px;
    }

    .intro_hl_word2{
        width: 697px;
        height: 66px;
        font-size: 16px;
        margin-top: 13px;
    }

    .intro_hl_word3{
        width: 697px;
        height: 88px;
        font-size: 16px;
        margin-top: 13px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1220px){
    .main_contain{
        width: 900px;
        /* min-height: 1958px; */
        min-height: 2041px;
        margin: 120px auto 93px auto;
        color: #354567;
        position: relative;
    }

    .area_main{
        width: 900px;
        min-height: 1905px;
        /* min-height: 2016px; */
        /* display: inline-block; */
        background-color: #B9C1D2;
        border-radius:0 20px 20px 20px;
        align-items: flex-start;
        flex-direction: row;
        position: relative;
    }
    
    .area_main2{
        width: 900px;
        height: 1990px;
        background-color: #354567;
        color: #FFFFFF;
        border-radius:0 20px 20px 20px;
        margin-bottom: 93px;
        align-items: flex-start;
        flex-direction: row;
    }
    
    .area_main, .area_main2 {
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease;
        position: absolute; /* 絕對定位，疊加在同一位置上 */
        top: 53px;
        left: 0;
        width: 100%;
    }

    .area_left{
        display: none;
    }
    
    .area_left2{
        display: none;
    }
    
    .line{
        display: none;
    }
    
    .line2{
        display: none;
    }
    
    .area_intro{
        width: 697px;
        min-height: 1785px;
        position: relative;
        margin-left: 101px;
        margin-right: 101px;
    }

    .intro_img{
        width: 485px;
        height: 298px;
        display: block;
        margin: 24px auto 0 auto;
    }

    .intro1{
        width: 697px;
        height: 438px;
        margin-top: 60px;
    }
    
    .intro2{
        width: 697px;
        /* height: 423px; */
        display: inline-block;
        margin-top: 32px;
    }

    .intro_word1{
        width: 697px;
        font-size: 16px;
        margin: 0;
        display: inline-block;
    }
    
    .intro_word2{
        width: 697px;
        font-size: 16px;
        margin: 0;
        display: inline-block;
    }

    .intro_hl1{
        width: 697px;
        display: inline-block;
        margin-top: 60px;
        }
    
    .intro_hl2, .intro_hl3{
        width: 697px;
        display: inline-block;
        margin-top: 50px;
    }

    .intro_hl_word1, .intro_hl_word2, .intro_hl_word3{
        width: 697px;
        display: inline-block;
        font-size: 16px;
        margin-top: 13px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .main_contain{
        width: 600px;
        max-height: 1553px !important;
        /* min-height: 1958px; */
        margin: 120px auto 60px auto;
        color: #354567;
        position: relative;
    }

    .area_main{
        width: 600px;
        height: 1400px !important;
        /* min-height: 2016px; */
        /* display: inline-block; */
        background-color: #B9C1D2;
        border-radius:0 20px 20px 20px;
        align-items: flex-start;
        flex-direction: row;
        position: relative;
    }
    
    .area_main2{
        width: 600px;
        min-height: 1500px !important;
        background-color: #354567;
        color: #FFFFFF;
        border-radius:0 20px 20px 20px;
        align-items: flex-start;
        flex-direction: row;
    }
    
    .area_main, .area_main2 {
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease;
        position: absolute; /* 絕對定位，疊加在同一位置上 */
        top: 53px;
        left: 0;
        width: 100%;
    }

    .area_left{
        display: none;
    }
    
    .area_left2{
        display: none;
    }
    
    .line{
        display: none;
    }
    
    .line2{
        display: none;
    }
    
    .area_intro{
        width: 497px;
        height: 1272px;
        position: relative;
        margin-left: 51px;
        margin-right: 51px;
    }

    .intro_img{
        width: 285px;
        height: 175px;
        display: block;
        margin: 24px auto 0 auto;
    }

    .intro1{
        width: 497px;
        height: 312px;
        margin-top: 45px;
    }
    
    .intro2{
        width: 497px;
        /* height: 312px; */
        display: inline-block;
        margin-top: 32px;
    }

    .intro_word1{
        width: 497px;
        font-size: 14px;
        margin: 0;
        display: inline-block;
    }
    
    .intro_word2{
        width: 497px;
        font-size: 14px;
        margin: 0;
        display: inline-block;
    }

    .contain{
        min-height: 100vh; /* 確保父容器填滿視窗高度 */
        overflow: hidden;
    }

    .intro_hl1{
        width: 497px;
        display: inline-block;
        margin-top: 60px;
        }
    
    .intro_hl2, .intro_hl3{
        width: 497px;
        display: inline-block;
        margin-top: 50px;
    }

    .intro_hl_word1, .intro_hl_word2, .intro_hl_word3{
        width: 497px;
        display: inline-block;
        font-size: 14px;
        margin-top: 13px;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px){
    .contain{
        min-height: 100vh; /* 確保父容器填滿視窗高度 */
        overflow: hidden;
    }

    .fixed-element {
        bottom: 0;
    }

    .main_contain{
        width: 450px;
        min-height: 1340px !important;
        /* max-height: 1380px !important; */
        /* min-height: 1958px; */
        margin: 120px auto 20px auto;
        color: #354567;
        
        gap: 0;
        display: flex;
        align-items: flex-start;
        justify-items: start;
        flex-direction: column;
        position: relative;
    }

    .area_main, .btn_both {
        margin: 0;
        padding: 0;
    }

    .area_main{
        width: 450px;
        height: 1280px !important;
        /* min-height: 2016px; */
        /* display: inline-block; */
        background-color: #B9C1D2;
        border-radius:0 20px 20px 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        position: relative;
    }
    
    .area_main2{
        width: 450px;
        min-height: 1340px !important;
        background-color: #354567;
        color: #FFFFFF;
        border-radius:0 20px 20px 20px;
        margin-bottom: 93px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        position: relative;
    }
    
    .area_main, .area_main2 {
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease;
        position: absolute; /* 絕對定位，疊加在同一位置上 */
        top: 38px;
        left: 0;
        width: 100%;
    }

    .area_left{
        display: none;
    }
    
    .area_left2{
        display: none;
    }
    
    .line{
        display: none;
    }
    
    .line2{
        display: none;
    }
    
    .area_intro{
        width: 330px;
        height: 466px;
        position: relative;
        margin-left: 51px;
        margin-right: 51px;
    }

    .intro_img{
        width: 255px;
        height: 153px;
        display: block;
        margin: 24px auto 0 auto;
    }

    .intro1{
        width: 330px;
        height: auto;
        margin-top: 25px;
    }
    
    .intro2{
        width: 330px;
        /* height: 312px; */
        display: inline-block;
        margin-top: 32px;
    }

    .intro_word1{
        width: 330px;
        font-size: 10px;
        margin: 0;
        display: inline-block;
    }
    
    .intro_word2{
        width: 330px;
        font-size: 10px;
        margin: 0;
        display: inline-block;
    }

    .intro_tit{
        width: auto;
        font-size: 16px !important;
        font-weight: 700px;
        line-height: 24px;
        margin: 0;
        display: inline-block;
    }
    
    .intro_name{
        font-size: 12px !important;
        line-height: 14px;
        margin-top: 10px;
    }

    .img_source a{
        font-size: 10px !important;
        color: #8391AE;
    }

    .btn{
        width: auto !important;
        height: auto !important;
        font-size: 14px !important;
        margin: 0;
    }

    .btn_both{
        width: 246px;
        height: 40px !important;
        display: flex;
        align-items: flex-start;
    }

    .intro_hl1{
        width: 330px;
        display: inline-block;
        margin-top: 60px;
        }
    
    .intro_hl2, .intro_hl3{
        width: 330px;
        display: inline-block;
        margin-top: 50px;
    }

    .intro_hl_word1, .intro_hl_word2, .intro_hl_word3{
        width: 330px;
        display: inline-block;
        font-size: 10px;
        margin-top: 5px;
    }

    #homeless4 {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 500px){
    .contain{
        min-height: 100vh; /* 確保父容器填滿視窗高度 */
        overflow: hidden;
    }

    .fixed-element {
        bottom: 0;
    }

    .main_contain{
        width: 320px;
        min-height: 1280px !important;
        /* min-height: 1958px; */
        margin: 120px auto 20px auto;
        color: #354567;
        
        gap: 0;
        display: flex;
        align-items: flex-start;
        justify-items: start;
        flex-direction: column;
        position: relative;
    }

    .area_main, .btn_both {
        margin: 0;
        padding: 0;
    }

    .area_main{
        width: 320px;
        max-height: 1080px !important;
        /* min-height: 2016px; */
        /* display: inline-block; */
        background-color: #B9C1D2;
        border-radius:0 20px 20px 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        position: relative;
    }
    
    .area_main2{
        width: 320px;
        min-height: 1340px !important;
        background-color: #354567;
        color: #FFFFFF;
        border-radius:0 20px 20px 20px;
        margin-bottom: 93px;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        position: relative;
    }
    
    .area_main, .area_main2 {
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease;
        position: absolute; /* 絕對定位，疊加在同一位置上 */
        top: 38px;
        left: 0;
        width: 100%;
    }

    .area_left{
        display: none;
    }
    
    .area_left2{
        display: none;
    }
    
    .line{
        display: none;
    }
    
    .line2{
        display: none;
    }
    
    .area_intro{
        width: 280px;
        height: 1080px;
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
    }

    .intro_img{
        width: 200px;
        height: 120px;
        display: block;
        margin: 24px auto 0 auto;
    }

    .intro1{
        width: 280px;
        height: auto;
        margin-top: 25px;
    }
    
    .intro2{
        width: 280px;
        /* height: 312px; */
        display: inline-block;
        margin-top: 32px;
    }

    .intro_word1{
        width: 280px;
        font-size: 10px;
        margin: 0;
        display: inline-block;
    }
    
    .intro_word2{
        width: 280px;
        font-size: 10px;
        margin: 0;
        display: inline-block;
    }

    .intro_tit{
        width: auto;
        font-size: 16px !important;
        font-weight: 700px;
        line-height: 24px;
        margin: 0;
        display: inline-block;
    }
    
    .intro_name{
        font-size: 12px !important;
        line-height: 14px;
        margin-top: 10px;
    }

    .img_source a{
        font-size: 10px !important;
        color: #8391AE;
    }

    .btn{
        width: auto !important;
        height: auto !important;
        font-size: 14px !important;
        margin: 0;
    }

    .btn_both{
        width: 100px;
        height: 20px !important;
        display: flex;
        align-items: flex-start;
    }

    .intro_hl1{
        width: 280px;
        display: inline-block;
        margin-top: 60px;
        }
    
    .intro_hl2, .intro_hl3{
        width: 280px;
        display: inline-block;
        margin-top: 50px;
    }

    .intro_hl_word1, .intro_hl_word2, .intro_hl_word3{
        width: 280px;
        display: inline-block;
        font-size: 10px;
        margin-top: 5px;
    }

    #homeless4 {
        margin-bottom: 60px;
    }
}

.btn_both{
    width: 246px;
    height: 53px;
    display: flex;
    align-items: flex-start;
}

.btn{
    width: 123px;
    height: 53px;
    font-size: 20px;
    border-radius:20px 20px 0 0;
    padding: 13px 29px 10px 29px;
    margin: 0;
}

.btn_send{
    background-color: #B9C1D2;
    color: #354567;
}

.btn_send:hover {
    box-shadow : 10px 0px 5px #19396D;
}

.btn_homeless{
    width: auto;
    background-color: #354567;
    color: #FFFFFF;
}

.btn_homeless:hover {
    box-shadow : 10px 0px 5px #B9C1D2;
}

.active {
    visibility: visible;
    opacity: 1;
}

.btn_both h1 {
    cursor: pointer;
}

.fade{
    opacity: 0;
    transition: opacity 2s;
}

.fade2{
    opacity: 0;
    transition: opacity 3s;
}

.visible {
    opacity: 1;
}




.area_tit{    
    width: auto;
    /* height: 24px; */
    height: auto;
    margin-bottom: 13px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 16px;
}

.intro_tit{
    width: auto;
    font-size: 24px;
    font-weight: 700px;
    line-height: 24px;
    margin: 0;
    display: inline-block;
}

.intro_name{
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px;
}

.img_source{
    /* width: 468px; */
    width: auto;
    height: auto;
    /* margin-left: 115px;
    margin-right: 114px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_source a{
    font-size: 14px;
    color: #8391AE;
    margin-top: 2px;
}

.spacer {
    width: 100%;
    height: 0; /* 預設為0，JavaScript動態調整 */
    visibility: hidden;
}

#left1{
    width: 80px;
}

#left2, #left4{
    width: 96px;
}

#left3{
    width: 64px;
}

#left_hl1{
    width: 112px;
}

#left_hl2{
    width: 128px;
}

#left_hl3{
    width: 144px;
}

/* #tit_hl1{
    width: 168px;
}

#tit_hl2{
    width: 192px;
}

#tit_hl3{
    width: 216px;
}

#tit_hl4{
    width: 240px;
} */

#send2_tit{
    height: auto;
    display: inline-block;
}